<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="IsImprosanate" value="true"/>
    <add key="Domain" value="AGSMALL"/>
    <add key="DomainUserName" value="Administrator"/>
    <add key="DomainPassword" value="P@SSWORD@2710"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Default Email Configuration-->
    <add key="EmailAddress" value="members@way2smile.com"/>
    <add key="Password" value="way2smile2013"/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <!--End Default Email Configuration-->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    
 <!--<identity impersonate="true"  userName="Administrator" password="P@SSWORD@2710" />-->
   <!-- <identity impersonate="true"  userName="user" password="w2s" />-->
    <!--<processModel 
       enable="true"
       userName="AGSMALL\Administrator"
       password="P@SSWORD@2710"
   />-->
    <httpRuntime/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    
    <authentication mode="Forms">
      <forms loginUrl="/Login" timeout="1200"/>
    </authentication>
    <httpHandlers>
      <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="WCP" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="DB1" connectionString="data source=W2S-PC2\SQLEXPRESS; integrated security=true; initial catalog=AGS_TEST_RUN"/>
    <add name="RMSDB" connectionString="Data Source=tcp:mssql4.cloudsites.gearhost.com;Initial Catalog=ags_db1;User ID=ags_db1;Pwd=jQSob9Vl;"/>
    <add name="RMSDB1" connectionString="data source=W2S-PC2\SQLEXPRESS; integrated security=true; initial catalog=ags_db2"/>
  
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>